x-volumes: &volumes
  - ./source/semanticpy:/source/semanticpy
  - ./source/semanticpy:/usr/local/lib/python/site-packages/semanticpy
  - ./tests:/tests
  - ./README.md:/README.md

services:

  black:
    build:
      dockerfile: ./Dockerfile
      context: ./
    environment:
      - SERVICE=black
    command: black --check /source /tests
    volumes:
      *volumes

  flakes:
    build:
      dockerfile: ./Dockerfile
      context: ./
    environment:
      - SERVICE=flakes
    command: pyflakes /source /tests
    volumes:
      *volumes

  tests:
    build:
      dockerfile: ./Dockerfile
      context: ./
    environment:
      - SERVICE=tests
    command: pytest /tests
    volumes:
      *volumes
